
.topbar-container{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.app-info{
    display: flex;
    align-items: center;
    gap: 2rem;

    i{
        font-size: 3rem;
        cursor: pointer;
    }
}

.user-info{
    text-align: center;
    
    p{
        font-weight: 700;
        margin-bottom: .5rem;
    }
    span{
        font-size: 1.5rem;
        text-transform: capitalize;
        color: var(--text-secondary);
    }

}

.user-info.clickeable {
    cursor: pointer;
    transition: opacity 0.2s ease;
    
    &:hover {
        opacity: 0.8;
    }
}